.fixed {
  background-color: darkorchid;
  box-sizing: border-box;
  display: list-item;
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'MyWebFont';
}

p {
  width: 80em;
  font-family: 'font-paragraph';
}

@font-face {
  font-family: 'MyWebFont';
  src: url("fira-sans/FiraSans-Bold.otf");
}

@font-face {
  font-family: 'font-paragraph';
  src: url("quicksand/Quicksand_Regular.otf");
}
