h1 {
	background-color: darkorchid;
	text-align: center;
}

.row {
	text-align: center;
}

#box {
	border: solid darkorchid;
	height: 100px;
	width: 200px;
}

#box2 {
	border: solid purple;
	height:100px;
	width: 200px;
	/*display: none;*/
}
