.fixed {
  background-color: #b6335d;
  font-size: 30px;
  height: 250;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.fixed img {
  margin-top: 30px;
}

/*body {
  background-color: #e7dbdb;
}*/

h1 {
  background-color: #b6335d;
  color: #e7dbdb;
  margin-top: 270px;
  text-align: center;
}

h2 {
  background-color: #b6335d;
  color: #e7dbdb;
  font-weight: 600;
  text-align: center;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-style: italic;
  font-weight: bold;
  margin-top: 100px;
  text-align: right;
}
