nav {
  display: flex;
  justify-content: space-around;
  background-color: darkorchid;
  color: yellow;
  font-weight: bold;
  font-family: sans;
}

div:hover {
  background-color: gold;
}

@media (max-width: 640px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
  nav > div{
    margin: 5px;
  }
}
