.navbar-inverse .navbar-nav > li > a:hover {
  color: darkorchid;
  font-weight: bold;
}

.fa fa-angle-down fa-3x {
  color: white;
}

h1 {
  margin-top: 70px;
  font-size: 70px;
  font-weight: 500;
}

.background {
  background: no-repeat center/100% url(../img/header.jpg);
  height: 700px;
  background-attachment: fixed;
  padding-top: 100px;
}

.social-link {
    margin-top: 40px;
    text-align: center;
}

h1, h2 {
  color: white;
  text-align: center;
}

.social-link a {
    height: 40px;
    width: 40px;
    text-align: center;
    color: #fff;
    background: #3C5999;
    line-height: 45px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}

.social-link a i {
    font-size: 20px;
}

h6 {
  font-weight: bold;
}
