body {
  background-color:  #FFF593;
}

input {
  background-color: darkorchid;
  border: solid black;
  color: white;
}

div {
  background-color: #FFB7B7;
  border: solid black;
  color: purple;
  display: inline-flex;
  flex-flow: column;
  height: 20px;
  width: 40px;
  text-align: center;
}
