.fixed {
  background-color: white;
  height: 200px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.fixed p {
color: #008800;
font-weight: 600;
font-size: 30px;
left: 50%;
position: absolute;
margin: 0;
top: 50%;
transform: translate(-50%, -50%);
}

.vertical-align {
  vertical-align: middle;
}
